<div id="<%= dom_id movie %>">
  <p>
    <img src= <%= movie.image %> width=350px height=500px>
  </p>

  <p>
    <h1> <%= movie.title %> </h1>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= link_to movie.artist %>
  </p>

</div>
