<div id="<%= dom_id movie %>">
  <p>
    <strong>Image:</strong>
    <img src= <%= movie.image %>>
  </p>

  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= movie.artist_id %>
  </p>

</div>
